.page-footer{
    background-color: rgb(92, 90, 90);
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;}
    
body {
    background: #f1f1f1;
}

h1{
    font-size: 20px;
}

.header {
    color: rgb(44, 231, 222);
}

.navbar {
    padding: 5px;
    background:white;
}

.container {
    display: flex;
    justify-content: space-between;
}

header {
    background: rgb(41, 231, 222);
    font-size: 10px;
    padding: 3px;
}

a.navbar-brand {
    margin-left: 10px;
    padding:10 px;
    font-size: 13px;
    text-decoration: none;
    background-color: rgb(77, 219, 172);
}



.navbar li{
    display: inline-block;
    padding: 3px;
}